body {
    font-family: Montserrat;
    text-align: center;
    margin: 15% 15%;
  }

.enter textarea
{
  width: 90%;
  height: 20%;
}

button {
    color: #fff;
    border: none;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin: 4px 2px;
    background-color: #e0e0e0;
    color: #333;
  }
    button:hover {
    background-color: #bdbdbd;
  }